<div class="container custom-container-2">

    <!-- Show it when there is no employee -->
    <div class="no-data text-center">
        <p>There is no product added yet!</p>
        <a class="btn btn-outline-primary" [routerLink]="['/create-product']">Add Empoyee</a>
    </div>

    <!-- Employees list table, it hides when there is no employee -->
    <div>
        <h3 class="mb-3 text-center">Products List</h3>

        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Product Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{productData.id}}</td>
                        <td>{{productData.name}}</td>
                        <td>
                            <button class="edit" (click)="getProduct(product.id)" [routerLink]="['/edit-product',product.id]">Edit</button>
                        </td>
                        <td>
                            <button class="delete" (click)="deleteProduct(product.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>